<!DOCTYPE html>
<html>
<head>

  <head>

  </head>
  <%= stylesheet_link_tag 'application' %>

</head>
<body>

<div class=" middle_height">
  <div class="center_item" >
    <div>
      <h1 style="bottom:50%">Import Success!!!</h1>
    </div>

  </div>
</div>


<div class="round-button">
  <%#= link_to "Compare!", show_soc_info_index_cameras_path %>
  <!--<a href=<%#= update_cam_info_index_cameras_path %>  >-->
  <a href=<%= new_and_update_cam_info_index_cameras_path %>  >


    <!--<a href=<%#= update_cam_info_cameras_path(@checked_model_array) %>  data-no-turbolink="true">-->

    Index

  </a>
</div>

</body>
</html>